<header class="site-header">
    <div class="container">
        <div class="site-header-large-bg"><span></span></div>
        <div class="site-header-inner">
            <div class="brand header-brand">
                <a class="h-10 w-10 inline-block" href="/" title="OneClickTheme Logo">
                    <img class="inline-block h-10 w-10 shadow-outline rounded-full" src="/img/logo.png" alt="One Click Theme Logo" style="box-shadow: 0 10px 10px -3px rgba(46, 64, 89, 0.41), 0 4px 6px -2px rgba(108, 99, 241, 0.1)">
                </a>
            </div>
        </div>
    </div>
</header>
