{{ define "main" }}
<div>
    <div class="container mx-auto">
        <div class="py-10">
            <h1 class="font-bold text-3xl">{{.Title}}</h1>

            <ul class="flex flex-wrap -mx-4 -mb-10 m-0 p-0 mt-5">
                {{ range .Pages }}
                <li class="w-full md:w-1/4 px-4 mb-10">
                    <a class="inline-block hover:text-blue-600" href="{{.Permalink}}">{{.Title}}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}
