{{ define "main" }}
    <div>
        <div class="container mx-auto">
            <!--Blog List-->
            <div class="py-10">
                <div>
                    {{ with .Site.GetPage "/posts" }}
                    <h2 class="font-bold text-3xl mb-5">{{.Title}}</h2>
                    <ul class="flex flex-wrap -mx-4 -mb-10 m-0 p-0">
                        {{ range .Pages }}
                        <li class="w-full md:w-1/2 px-4 mb-10">
                            <div class="h-full border-gray-500 rounded shadow">
                                <div>
                                    <a class="inline-block hover:text-blue-600" href="{{.Permalink}}">
                                        <img class="block w-full h-64 object-cover" src="{{.Params.image | absURL}}" alt="{{.Title}}">
                                    </a>
                                </div>
                                <div class="p-5">
                                    <h2 class="font-bold text-2xl">
                                        <a class="inline-block hover:text-blue-600" href="{{.Permalink}}">{{.Title}}</a>
                                    </h2>
                                    <span class="inline-block text-gray-600 mb-4 text-sm">{{.Date.Format "2006-01-02"}}</span>
                                    <p class="mb-4">{{.Params.subtitle}}</p>

                                    {{ $taxo := "tags" }} <!-- Use the plural form here -->
                                    <ul class="flex" id="{{ $taxo }}">
                                        {{ range .Param $taxo }}
                                        {{ $name := . }}
                                        {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                                        <li class="mr-2"><a
                                                class="rounded p-2 py-1 inline-block text-sm bg-gray-400 hover:bg-gray-600 hover:text-white"
                                               href="{{ .Permalink }}">{{$name }}</a></li>
                                        {{ end }}
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {{ end}}
                    </ul>
                    {{ end }}
                </div>
            </div>

            <!--News List-->
            <div class="py-10">
                <div>
                    {{ with .Site.GetPage "/news" }}
                    <h2 class="font-bold text-3xl mb-5">{{.Title}}</h2>
                    <ul class="flex flex-wrap -mx-4 -mb-10 m-0 p-0">
                        {{ range .Pages }}
                        <li class="w-full md:w-1/2 px-4 mb-10">
                            <div class="h-full border-gray-500 rounded shadow">
                                <div>
                                    <a class="inline-block hover:text-blue-600" href="{{.Permalink}}">
                                        <img class="block w-full h-64 object-cover" src="{{.Params.image | absURL}}" alt="{{.Title}}">
                                    </a>
                                </div>
                                <div class="p-5">
                                    <h2 class="font-bold text-2xl">
                                        <a class="inline-block hover:text-blue-600" href="{{.Permalink}}">{{.Title}}</a>
                                    </h2>
                                    <span class="inline-block text-gray-600 mb-4 text-sm">{{.Date.Format "2006-01-02"}}</span>
                                    <p class="mb-4">{{.Params.subtitle}}</p>
                                </div>
                            </div>
                        </li>
                        {{ end}}
                    </ul>
                    {{ end }}
                </div>
            </div>
        </div>

    </div>
{{ end }}
